<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="/src/sidebar.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">
        <h1>Logo</h1>
        <button id="toggleSidebar">☰</button>
      </div>
      <div class="opciones_pagina">
        <a href="#">Lenguajes</a>
        <a href="#">Perfil</a>
        <a href="#">Cerrar Sesion</a>
      </div>
    </nav>
    
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
      <a href="#">Opción 1</a>
      <div class="submenu">
        <a href="#">Subopción 1</a>
        <a href="#">Subopción 2</a>
        <a href="#">Subopción 3</a>
      </div>
      <a href="#">Opción 2</a>
      <div class="submenu">
        <a href="#">Subopción 1</a>
        <a href="#">Subopción 2</a>
        <a href="#">Subopción 3</a>
      </div>
      <a href="#">Opción 3</a>
      <div class="submenu">
        <a href="#">Subopción 1</a>
        <a href="#">Subopción 2</a>
        <a href="#">Subopción 3</a>
      </div>
      <a href="#">Opción 4</a>
      <div class="submenu">
        <a href="#">Subopción 1</a>
        <a href="#">Subopción 2</a>
        <a href="#">Subopción 3</a>
      </div>
    </div>
  </body>
</html>
