<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="page-container">
      <div class="form-container">
        <div class="form-group-background">
        <h2>Ingresar</h2>
        <form action="/login" method="post">

          <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              id="name"
              name="username"
              placeholder="Ingresa tu nombre.."
              required
              autocomplete="off"
            />
            <label for="password">Contraseña:</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Ingresa tu contraseña.."
              required
            />
            

         
          </div>
          <div class="center-form">
            <button type="button" onclick="fetchearlogin()">Ingresar</button>
          </div>
        </form>
        <p class="center-form">No tienes cuenta? <a href="/signup">Regístrate</a></p>
      </div>

      </div>
    </div>
    <script>
      function fetchearlogin() {
        const name = document.getElementById("name").value;
        const password = document.getElementById("password").value;
        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username: name, password: password }),
        })
          .then((res) => res.json())
          .then((data) => {
            if (!data.success){
              alert(data.message);
            } else {
              window.location.href = "/home";
            }
          });
      }
    </script>
  </body>
</html>
