<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TASKE</title>
    <!-- CSS -->
    <link
      rel="preload"
      href="css/style.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="icon" href="data:;base64,=" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Material symbols -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="src/sidebar.js" defer></script>
  </head>

  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-symbols-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-symbols-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-symbols-outlined">notifications</span>
          <span class="material-symbols-outlined">email</span>
          <span class="material-symbols-outlined">account_circle</span>
        </div>
      </header>
      <!-- Header End -->
      <!-- Sidebar  -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <!-- task manager symbol -->
            <span class="material-symbols-outlined"> editor_choice </span>TASKE
          </div>
          <span class="material-symbols-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/home">
              <span class="material-symbols-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/tasks">
              <span class="material-symbols-outlined">inventory</span> Tasks
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/projects">
              <span class="material-symbols-outlined">inventory_2</span>
              Projects
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-symbols-outlined">report</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-symbols-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar End -->
      <!-- Main -->
      <main class="main-container">
        <div class="project-container">
          <div class="project-left">
            <div>
              <h2>PROJECT</h2>
              <select id="proyecto-select">
                <option value="proyecto1">Proyecto 1</option>
                <option value="proyecto2">Proyecto 2</option>
                <option value="proyecto3">Proyecto 3</option>
              </select>
            </div>
            <div class="imageproject-container">
              <h2>Project Name</h2>
              <div class="imageproject">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMXl3kgxq5UqoGpnJoDch0Ywf2ggaATCmrkg&s"
                  alt="project image"
                />
              </div>
            </div>
            <div class="projectdescription">
              <h3>Description</h3>
              <hr />
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Expedita quas praesentium inventore, vitae assumenda nihil
                ratione iusto dolorem possimus, est esse. Ducimus pariatur velit
                ipsa vitae. Ab incidunt sed facere!
              </p>
            </div>
          </div>

          <div class="project-right">
            <!-- Form add tasks -->
            <div class="add-task" id="add-task">
              <div class="add-task-title">
                <h2>Add Task</h2>
                <span
                  class="material-symbols-outlined"
                  onclick="desactivetaskform()"
                  style="color: red"
                  >cancel</span
                >
              </div>

              <form action="/addtask" method="post" class="addtask-form">
                <div class="task-input">
                  <div class="form-group flex-row">
                    <div class="input">
                      <label for="taskname">Task Name:</label>
                      <input
                        type="text"
                        id="taskname"
                        name="taskname"
                        placeholder="Enter task name.."
                        required
                        autocomplete="off"
                      />
                    </div>
                    <div class="input">
                      <label for="enddate">End Date:</label>
                      <input type="date" id="enddate" name="enddate" required />
                    </div>
                    <!-- priority -->
                    <div>
                      <label for="priority">Priority:</label>
                      <select name="priority" id="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="taskdescription">Task Description:</label>
                    <textarea
                      id="taskdescription"
                      name="taskdescription"
                      placeholder="Enter task description.."
                      required
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit">Add Task</button>
                  </div>
                </div>
                <div class="member-input">
                  <div class="form-group">
                    <div class="memberdelete">
                      <label for="member">Assign Member #:</label>
                      <div>
                        <select id="select-usuarios">
                          <option value="">Selecciona un usuario</option>
                          <!-- Usar EJS para insertar cada usuario como una opción del select -->
                          <% users.forEach(users => { %>
                              <option value="<%= users.name %>"><%= users.name %></option>
                          <% }) %>
                          </select>
                  
                        <!-- delete option -->
                        <span class="material-symbols-outlined">delete</span>
                      </div>
                    </div>
                    <div class="memberdelete">
                      <label for="member">Assign Member #:</label>
                      <div>
                        <select name="member" id="member">
                          <option value="member1">Member 1</option>
                          <option value="member2">Member 2</option>
                          <option value="member3">Member 3</option>
                        </select>
                        <!-- delete option -->
                        <span class="material-symbols-outlined">delete</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-button">
                    <button type="submit">Add Member</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="main-tasks">
              <div class="task-header">
                <div class="task-title">
                  <h2>TASKS</h2>
                  <!-- add task button -->
                  <span
                    class="material-symbols-outlined"
                    style="color: green"
                    id="addtask-button"
                    onclick="activetaskform(this)"
                    >add</span
                  >
                </div>
                <div class="task-filter">
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>All Tasks</h4>
                  </div>
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>Completed Tasks</h4>
                  </div>
                  <div class="filterbox" onclick="toggleFilter(this)">
                    <h4>Incompleted Tasks</h4>
                  </div>
                </div>
              </div>
              <div class="task-list">
                <div id="column_guide" class="task-list-header">
                  <h3>Task</h3>
                  <div class="task-list-header-right">
                    <h3>End Date</h3>
                    <h3>Status</h3>
                    <h3>Priority</h3>
                    <h3>Progress</h3>
                    <h3>Assignees</h3>
                  </div>
                </div>
                <div class="task-cuadro">
                  <div class="task-list-header">
                    <h3>Task</h3>
                    <div class="task-list-header-right">
                      <h3>End Date</h3>
                      <h3>Status</h3>
                      <h3>Priority</h3>
                      <h3>Progress</h3>
                      <h3>Assignees</h3>
                    </div>
                  </div>
                  <div class="task">
                    <h4>task 1</h4>
                    <div class="task-inner">
                      <!-- end date -->
                      <h4>end date</h4>
                      <div class="task-status">
                        <h4>not started</h4>
                      </div>
                      <div class="task-priority">
                        <h4>low</h4>
                      </div>
                      <div class="task-progress">
                        <h4>0%</h4>
                      </div>
                      <div class="task-assignees">
                        <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="task-cuadro">
                  <div class="task-list-header">
                    <h3>Task</h3>
                    <div class="task-list-header-right">
                      <h3>End Date</h3>
                      <h3>Status</h3>
                      <h3>Priority</h3>
                      <h3>Progress</h3>
                      <h3>Assignees</h3>
                    </div>
                  </div>
                  <div class="task">
                    <h4>task 1</h4>
                    <div class="task-inner">
                      <!-- end date -->
                      <h4>end date</h4>
                      <div class="task-status">
                        <h4>not started</h4>
                      </div>
                      <div class="task-priority">
                        <h4>low</h4>
                      </div>
                      <div class="task-progress">
                        <h4>0%</h4>
                      </div>
                      <div class="task-assignees">
                        <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="project-persons">
              <div class="project-admins">
                <h2>PROJECT ADMINS</h2>
                <div class="admin">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                    alt=""
                    style="
                      width: 50px;
                      height: 50px;
                      border-radius: 30px;
                      object-fit: cover;
                      background-color: aqua;
                    "
                  />
                  <h4>Admin Name</h4>
                </div>
                <div class="admin">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                    alt=""
                    style="
                      width: 50px;
                      height: 50px;
                      border-radius: 30px;
                      object-fit: cover;
                      background-color: aqua;
                    "
                  />
                  <h4>Admin Name</h4>
                </div>
              </div>
              <div class="project-members">
                <h2>PROJECT MEMBERS</h2>
                <div class="member">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                    alt=""
                    style="
                      width: 50px;
                      height: 50px;
                      border-radius: 30px;
                      object-fit: cover;
                      background-color: aqua;
                    "
                  />
                  <h4>Member Name</h4>
                </div>
                <div class="member">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                    alt=""
                    style="
                      width: 50px;
                      height: 50px;
                      border-radius: 30px;
                      object-fit: cover;
                      background-color: aqua;
                    "
                  />
                  <h4>Member Name</h4>
                </div>
                <div class="member">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAYhDOcpm8jQiqPZ02OdriynaUMWwfU8Bo2Q&s"
                    alt=""
                    style="
                      width: 50px;
                      height: 50px;
                      border-radius: 30px;
                      object-fit: cover;
                      background-color: aqua;
                    "
                  />
                  <h4>Member Name</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Main End -->
    </div>
  </body>
</html>
