<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TASKE</title>
    <!-- CSS -->
    <link
      rel="preload"
      href="css/style.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="icon" href="data:;base64,=" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Material symbols -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="src/sidebar.js" defer></script>
  </head>

  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-symbols-outlined">menu</span>
        </div>
        <div class="header-left">
          <!-- search bar -->
          <div class="search-bar center-form">
            <span class="material-symbols-outlined">search</span>
            <input type="text" placeholder="Search.." />
          </div>
        </div>
        <div class="header-right">
          <div class="dropdown">
            <span
              class="material-symbols-outlined"
              onclick="toggleDropdown('notifications-dropdown')"
              >notifications</span
            >
            <div class="dropdown-menu" id="notifications-dropdown">
              <p>No new notifications</p>
            </div>
          </div>
          <div class="dropdown">
            <span
              class="material-symbols-outlined"
              onclick="toggleDropdown('email-dropdown')"
              >email</span
            >
            <div class="dropdown-menu" id="email-dropdown">
              <p>No new emails</p>
            </div>
          </div>
          <div class="dropdown">
            <span
              class="material-symbols-outlined"
              onclick="toggleDropdown('account-dropdown')"
              >account_circle</span
            >
            <div class="dropdown-menu" id="account-dropdown">
              <p><a href="/profile">View Profile</a></p>
              <p><a href="/logout">Logout</a></p>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End -->
      <!-- Sidebar  -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <!-- task manager symbol -->
            <span class="material-symbols-outlined"> editor_choice </span>TASKE
          </div>
          <span class="material-symbols-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/home">
              <span class="material-symbols-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/tasks">
              <span class="material-symbols-outlined">inventory</span> Tasks
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/projects">
              <span class="material-symbols-outlined">inventory_2</span>
              Projects
            </a>
          </li>

          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-symbols-outlined">report</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/settings">
              <span class="material-symbols-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar End -->
      <!-- Main -->
      <main class="main-container">
        <div class="project-settings">
          <div class="main-title" style="padding-right: 20px">
            <div style="width: 120px"></div>
            <div class="projectfilter">
              <h2>PROJECT</h2>

              <select id="project-select">
                <% projects.forEach(project => { %>
                <option value="<%= project._id %>"><%= project.name %></option>
                <% });%>
              </select>
            </div>
            <button onclick="activeprofilesettings()">Profile Settings</button>
          </div>
          <div class="settings-container">
            <div class="settings">
              <div class="setting">
                <h2>Project Name</h2>
                <div>
                  <input type="text" id="project_name" />
                  <span
                    class="material-symbols-outlined edit-icon"
                    onclick="activeprojectnameedit()"
                    >edit</span
                  >
                </div>
              </div>
              <hr />
              <div class="setting">
                <h2>Project Description</h2>
                <div>
                  <input type="text" id="project_description" />
                  <span
                    class="material-symbols-outlined edit-icon"
                    onclick="activeprojectdescriptionedit()"
                    >edit</span
                  >
                </div>
              </div>
              <hr />
              <div class="center-form">
                <div class="image-container" style="padding: 20px">
                  <img
                    src=""
                    alt=""
                    style="width: 150px; height: 150px; border-radius: 75px"
                    id="projectsettingimage"
                  />
                  <label
                    for="projectsettingsimagefile"
                    class="edit-icon"
                    style="background-color: green"
                  >
                    <span class="material-symbols-outlined">edit</span>
                  </label>
                  <input
                    type="file"
                    id="projectsettingsimagefile"
                    name="projectimage"
                    accept="image/*"
                    required
                    hidden
                  />
                </div>
              </div>
            </div>
            <div class="settings">
              <div class="setting">
                <h2>Project Members</h2>
                <div class="center-form">
                  <div class="member_circles" id="members_circles">
                    <img
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt=""
                    />
                    <img
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt=""
                    />
                  </div>
                  <span class="material-symbols-outlined edit-icon">edit</span>
                </div>
              </div>
              <hr />
              <div class="setting">
                <h2>Project admins</h2>
                <div class="center-form">
                  <div class="member_circles" id="admin_circles">
                    <img
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt=""
                    />
                    <img
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt=""
                    />
                  </div>
                  <span class="material-symbols-outlined edit-icon">edit</span>
                </div>
              </div>

              <hr />
            </div>
          </div>
          <div></div>
        </div>
        <div class="profile-settings">
          <div class="center-form" style="margin: 20px 0px">
            <button onclick="activeprojectsettings()">Project Settings</button>
          </div>
          <div class="settings-container">
            <div class="settings">
              <div class="setting">
                <h2>Profile Name</h2>
                <div>
                  <input type="text" id="profile_name" />
                  <span
                    class="material-symbols-outlined edit-icon"
                    onclick="activeprofilenameedit()"
                    >edit</span
                  >
                </div>
              </div>
              <hr />
              <div class="setting">
                <h2>Profile Password</h2>
                <div>
                  <input type="password" id="profile_password" />
                  <span
                    class="material-symbols-outlined edit-icon"
                    onclick="activeprofilepasswordedit()"
                    >edit</span
                  >
                </div>
              </div>
              <hr />
              <div class="center-form" style="padding: 20px">
                <div class="image-container">
                  <img
                    src=""
                    alt=""
                    style="width: 150px; height: 150px; border-radius: 75px"
                    id="profilesettingimage"
                  />
                  <label
                    for="profilesettingsimagefile"
                    class="edit-icon"
                    style="background-color: green"
                  >
                    <span class="material-symbols-outlined">edit</span>
                  </label>
                  <input
                    type="file"
                    id="profilesettingsimagefile"
                    name="profileimage"
                    accept="image/*"
                    required
                    hidden
                  />
                </div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
        <div class="floating-settings" id="floating_settings">
          <div class="floating-content">
            <div id="editprojectname" style="display: none">
              <div class="form-group">
                <label for="oldname">Old Name</label>
                <input type="text" id="oldprojectname" />
                <label for="newname">New Name</label>
                <input type="text" id="newprojectname" />
              </div>
              <div class="center-form">
                <button onclick="editProjectName()">Save</button>
              </div>
            </div>
            <div id="editprojectdescription" style="display: none">
              <div class="evenly column-form form-group">
                <!-- old description -->
                <label for="projectdescription">Old Project Description</label>
                <textarea
                  name="projectdescription"
                  id="oldprojectdescription"
                  readonly
                ></textarea>
                <!-- new description -->
                <label for="projectdescription">New Project Description</label>
                <textarea
                  name="projectdescription"
                  id="newprojectdescription"
                ></textarea>
              </div>
              <div class="center-form">
                <button onclick="editProjectDescription()">Save</button>
              </div>
            </div>

            <div id="editprojectmembers" style="display: none"></div>
            <div id="editprojectadmins" style="display: none"></div>

            <div id="editprofilename" style="display: none">
              <div class="form-group">
                <label for="oldname">Old Name</label>
                <input type="text" id="oldname" />
                <label for="newname">New Name</label>
                <input type="text" id="newname" />
              </div>
              <div class="center-form">
                <button onclick="">Save</button>
              </div>
            </div>
            <div id="editprofilepassword" style="display: none">
              <div class="form-group">
                <label for="oldpassword">Old Password</label>
                <input type="password" id="oldpassword" />
                <label for="newpassword">New Password</label>
                <input type="password" id="newpassword" />
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" />
              </div>
              <div class="center-form">
                <button onclick="">Save</button>
              </div>
            </div>
          </div>
          <div class="closebutton">
            <span class="material-symbols-outlined" onclick="closeFloating()"
              >close</span
            >
          </div>
        </div>
      </main>
      <!-- Main End -->
      <script>
        const projectSelect = document.getElementById("project-select");
        
        function activeprojectnameedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprojectname").style.display = "block";
        }
        function activeprojectdescriptionedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprojectdescription").style.display =
            "block";
        }
        function activeprojectmembersedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprojectmembers").style.display = "block";
        }
        function activeprojectadminsedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprojectadmins").style.display = "block";
        }
        function activeprofilenameedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprofilename").style.display = "block";
        }
        function activeprofilepasswordedit() {
          document.getElementById("floating_settings").style.display = "flex";
          document.getElementById("editprofilepassword").style.display =
            "block";
        }
        function closeFloating() {
          document.getElementById("floating_settings").style.display = "none";
          document.getElementById("editprojectname").style.display = "none";
          document.getElementById("editprojectdescription").style.display =
            "none";
          document.getElementById("editprojectmembers").style.display = "none";
          document.getElementById("editprojectadmins").style.display = "none";
          document.getElementById("editprofilename").style.display = "none";
          document.getElementById("editprofilepassword").style.display = "none";
        }

        function activeprofilesettings() {
          document.querySelector(".project-settings").classList.add("inactive");
          document.querySelector(".profile-settings").classList.add("active");
        }
        function activeprojectsettings() {
          document
            .querySelector(".project-settings")
            .classList.remove("inactive");
          document
            .querySelector(".profile-settings")
            .classList.remove("active");
        }
        document.addEventListener("DOMContentLoaded", () => {
          const projectId = projectSelect.value;

          fetch(`/projects/${projectId}`)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to fetch project data");
              }
              return response.json();
            })
            .then((project) => {
              document.getElementById("project_name").value =
                project.name || "";
              document.getElementById("project_description").value =
                project.description || "";

              const projectImage = document.getElementById(
                "projectsettingimage"
              );
              if (project.image) {
                projectImage.src = project.image;
                projectImage.alt = project.name;
              } else {
                projectImage.src = "";
                projectImage.alt = "No image";
              }

              const members = project.assignedUsers.filter(
                (user) => user.role === "miembro"
              );
              const admins = project.assignedUsers.filter(
                (user) => user.role === "admin"
              );

              const memberCircles = document.getElementById("members_circles");
              memberCircles.innerHTML = "";
              if (members.length > 0) {
                const maxDisplay = 4;

                members.slice(0, maxDisplay).forEach((assignedUser) => {
                  const imageUser = document.createElement("img");
                  imageUser.src =
                    assignedUser.userId.img ||
                    "https://www.w3schools.com/howto/img_avatar.png"; // Imagen del usuario
                  imageUser.alt = assignedUser.userId.name || "User";
                  imageUser.title = assignedUser.userId.name;
                  memberCircles.appendChild(imageUser);
                });

                if (members.length > maxDisplay) {
                  const extraCount = members.length - maxDisplay;

                  const extraImage = document.createElement("div");
                  extraImage.classList.add("extra-members");
                  extraImage.textContent = `+${extraCount}`;
                  memberCircles.appendChild(extraImage);
                }
              } else {
                memberCircles.innerHTML = "<p>No members assigned</p>";
              }

              const adminCircles = document.getElementById("admin_circles");
              adminCircles.innerHTML = "";
              if (admins.length > 0) {
                const maxDisplay = 4;

                admins.slice(0, maxDisplay).forEach((assignedUser) => {
                  const imageAdmin = document.createElement("img");
                  imageAdmin.src =
                    assignedUser.userId.img ||
                    "https://www.w3schools.com/howto/img_avatar.png"; // Imagen del usuario
                  imageAdmin.alt = assignedUser.userId.name || "Admin";
                  imageAdmin.title = assignedUser.userId.name;
                  adminCircles.appendChild(imageAdmin);
                });

                if (admins.length > maxDisplay) {
                  const extraCount = admins.length - maxDisplay;

                  const extraImage = document.createElement("div");
                  extraImage.classList.add("extra-members");
                  extraImage.textContent = `+${extraCount}`;
                  adminCircles.appendChild(extraImage);
                }
              } else {
                adminCircles.innerHTML = "<p>No admins assigned</p>";
              }
            })
            .catch((error) => {
              console.error("Error fetching project data:", error);
            });
          fetch(`/profile/settings`)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to fetch user data");
              }
              return response.json();
            })
            .then((user) => {
              document.getElementById("profile_name").value = user.name || "";
              document.getElementById("profile_password").value =
                "examplepassword";

              const profileImage = document.getElementById(
                "profilesettingimage"
              );
              if (user.img) {
                profileImage.src = user.img;
                profileImage.alt = user.name;
              } else {
                profileImage.src = "";
                profileImage.alt = "No image";
              }
            });
        });
      </script>
    </div>
  </body>
</html>
