<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- Material symbols -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="form-container">
        <div class="form-group-background">
          <h2>Sign Up</h2>
          <form action="/signup" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="username"
                placeholder="Enter your name.."
                required
                autocomplete="off"
              />
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
              />
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email.."
                required
              />
            </div>

            <div class="center-form column-form">
              <div class="image-container">
                <img
                  src="https://www.shutterstock.com/image-vector/image-icon-600nw-211642900.jpg"
                  alt=""
                  style="width: 150px; height: 150px; border-radius: 100px"
                  id="userimg"
                />
                <label for="userimgfile" class="edit-icon"
                  ><span class="material-symbols-outlined">edit</span></label
                >
                <input
                  type="file"
                  id="userimgfile"
                  name="userimg"
                  required
                  hidden
                />
              </div>
              <div class="center-form">
                <p>Already have an account? <a href="/login">Log In</a></p>
              </div>
            </div>
          </form>
          <div class="center-form">
            <button type="submit">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("userimgfile")
        .addEventListener("change", function () {
          const file = this.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function () {
              const img = document.getElementById("userimg");
              img.src = reader.result;
            };
            reader.readAsDataURL(file);
          }
        });
    </script>
  </body>
</html>
