:root {
    --primary-color: #212431;
    --text-color: #D7D7D9;
    --tertiary-color: #444;
    --secundary-color: #46397e;
}
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Kanit', sans-serif;
}
.material-symbols-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}
span:hover {
    cursor: default;
}

h2 {
    text-align: center;
}
hr {
    border: 1px solid #3D4450;
    margin:  0;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 30rem;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: var(--secundary-color);
}

.image-container{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.image-container .edit-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-radius: 50%;
    background-color: #575757;
    transition: all 0.3s;
}
.edit-icon{
    padding: 5px;
    border-radius: 50%;
    background-color: green;
    transition: all 0.3s;
}
.edit-icon:hover{
    transform: scale(1.4);
    cursor: pointer;
}
.edit-icon span:hover{
    cursor: pointer;
}


.form-group-background{
    background-color: #131922;
    padding: 20px;
    border-radius: 15px;
}
.form-group {
    display: grid;
    grid-template-columns: 20% 60%;
    gap: 10px;
    margin-bottom: 1rem;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
.form-group > *{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.form-group label {
    font-size: 1.2rem;
   
}
.center-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

.form-group input, .form-group textarea{
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.form-group textarea{
    width: 100%;
    resize: none;
}
.column-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

/*------------ HEADER ------------ */
.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.25);
}

.menu-icon {
    display: none;
}

.header span:hover,
.sidebar-list-item:hover {
    cursor: pointer;
}
.header-right .dropdown {
    position: relative;
    display: inline-block;
  }
.search-bar input{
    width: 350px;
    padding: 0.5rem 10px.5rem 10px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #131922;
    color: white;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 130%;
    right: 0;
    background-color: #131922;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
}

  
  .dropdown-menu p {
    margin: 0;
    padding: 20px;
    cursor: pointer;
  }
  
  .dropdown-menu p:hover {
    background-color: #3D4450;
  }
  .dropdown-menu a {
    color: inherit;
    text-decoration: none;
  }
  /* Mostrar el menú cuando está activo */
  .dropdown-menu.active {
    display: block;
  }
  
/*------------ SIDEBAR ------------ */

#sidebar {
    grid-area: sidebar;
    background-color: #263043;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

.sidebar-title:hover {
    cursor: default;
}

.sidebar-list-item a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 20px;

}

/*------------ MAIN ------------ */

.main-container {
    position: relative;
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card:first-child {
    background-color: #2962ff;
}

.card:nth-child(2) {
    background-color: #ff6d00;
}

.card:nth-child(3) {
    background-color: #00c853;
}

.card:nth-child(4) {
    background-color: #d50000;
}

.card-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-inner>.material-symbols-outlined {
    font-size: 45px;
}

.main-tasks {
    margin-top: 2rem;
}

.task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(61, 68, 80);
    transition:  border-color 0.5s ease;
}
.task-edit a span{
    font-size: 3rem;
    cursor: pointer;    
    transition: all 0.3s;
}
.task-edit a span:hover{
    transform: scale(1.4);
}
.task-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    overflow: hidden;
}

.projectfilter {
    display: flex;
    gap: 20px;

}

.filterbox {
    border: 4px solid rgb(61, 68, 80);
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 1vw;
    font-size: 1vw;
    transition: background-color 0.5s ease;
}
.filterbox:hover{
    cursor: pointer;
}

.filterbox.active {
    background-color: rgb(61, 68, 80);
    cursor: default;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-inner, .task-list-header-right{
    display: flex;
}

.task-inner > *, .task-list-header-right > *{
    width: 20%;
    text-align: center;
    margin:auto 0;
}
.changewidth > *{
    width:25% !important;   
}
.task-assignees img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;

}
.task, .task-list-header{
    display : grid;
    grid-template-columns: 30% 70%;
    padding: 5px 20px;
    border: 1px solid rgb(61, 68, 80);
    border-radius: 15px;
}
.task-list-header{
    background-color: #131922;
    border: none;
}
.orange{
    /* borde izquierdo de naranja */
    border-left: 5px solid #ff6d00 !important;
}
.red {
    /* borde izquierdo de rojo */
    border-left: 5px solid #d50000 !important;
}
.green {
    /* borde izquierdo de verde */
    border-left: 5px solid #00c853 !important;
}

/*------------ PROJECTS ------------ */
.project-container {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    top:0;
    transition: all 0.8s;
}
.create-project-container{
    position: relative;
    top: 100%;
    height: 100%;
    transition: all 1s;
}
.create-project-container.active{
    top: -100%;
}
.project-container.inactive {
    visibility: hidden;
    top: -100%;
}
.project-persons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.project-admins, .project-members{
    display: flex;
    flex-direction: column;
}
.project-admins > * , .project-members > *{
    height: 50px;
}

.project-admins h2, .project-members h2{
    text-align: left;
}
.admin, .member{
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(61, 68, 80);
    border-radius: 15px;
}
.project-left {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #131922;
    height: 100%;
}
.project-right{
    gap: 20px;
    padding: 20px 30px;
    overflow-y: auto;
}
.imageproject-container {
    margin: auto;
}

.imageproject img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: aqua;
}

.projectdescription {
    padding: 0px 30px 30px 30px;
    text-align: center;
}

select{
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: inherit;
    color: inherit;
    margin: auto 0;
    background-color: blue;
}
select:focus{
    outline: none;
}
select option{
    background-color: rgb(61, 68, 80);
    color: inherit;

}
.dynamic-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
       gap: 16px; /* Espaciado entre elementos */
    gap: 16px;
}
.dynamic-grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
       gap: 16px; /* Espaciado entre elementos */
    gap: 16px;
}
.dynamic-grid2 > *:only-child{
    grid-column: span 3;
}

.dynamic-grid > *:only-child {
    grid-column: span 2;
}
  
 
  
.addtask-form{
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 10px;
}
.task-input,.member-input{
    box-sizing: border-box;
}
.task-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    gap: 10px;
}

button{
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    background-color: #208336;
    color: white;
    font-size: 1rem;
    cursor: pointer;    
    transition: all 0.3s;
}
button:hover{
    background-color: #1a6c2e;
    transform: scale(1.1);
}
.add-task {
    display:none;
    
}
.add-task-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.task-cuadro .task-list-header{
    display: none;
}


.create-project-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
/* ----------- SETTINGS ------------- */
.project-settings{
    position: relative;
    overflow-y: auto;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease-in-out;
}
.profile-settings{
    position: relative;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease-in-out;
}
.project-settings.inactive{
    top: -100%;
    visibility: hidden;
}
.profile-settings.active{
    top: -100%;
}

.settings-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.settings{
    display: flex;
    flex-direction: column;  
    gap: 20px;
    width: 500px;
    height: auto;
    background-color: #131922;
    padding: 20px;
    border-radius: 15px;
}
.setting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    align-items: center;
    padding: 20px;
}
.member_circles{
    display: flex;
}
.member_circles img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -20px;
}
.member_circle{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.member_circle span{
    font-size: 2rem;
    color:red;
    transition: all 0.3s;
}
.member_circle span:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.separated_circles img{
    margin-left: 0;
}
.extra-members {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
.setting input{
    padding: 0.5rem 10px.5rem 10px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #263043;
    color: white;
}
.floating-settings{
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
    justify-content: center;
    align-items: center;
}
.floating-content{
    background-color: #1D2634;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.closebutton{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.floating-content textarea{
    width: 250px;
    height: 80px;
}
.floating-content .form-group{
    grid-template-columns: 50% 50%;
}
/*------------ RESPONSIVO ------------ */
/* medium <= 992px */
@media screen and (max-width:992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "header"
            "main";
    }
    .addtask-form{
        grid-template-columns: 1fr;
    
    }
    .settings-container{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }
    #settingbutton{
        display: none;
    }
    #sidebar {
        display: none;
    }
    .profile-settings{
        top: 100%
    }

    .menu-icon {
        display: inline;
    }
    .project-right{
        padding: 10px;
    }
    .filterbox{
        display: flex;
        height: 80%;
        align-items: center;
        padding: 0 5px !important;
        font-size: 1.8vh !important;
        text-align: center;
        max-width: 100px;
    }
    .sidebar-title>span {
        display: inline;
    }
    .create-project-form{
        grid-template-columns: 1fr;
    }   
    .create-project-container{
        overflow-y: auto;
    }
}
@media screen and (max-width:870px) {
    .task-cuadro .task-list-header{
        display: block;
    }
    .task-cuadro{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .task-list-header, .task-list-header-right{
        display: flex;
        flex-direction: column;
    }
    .task-inner, .task, .task-list-header{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    #column_guide{
        display: none;
    }

    .task, .task-list-header{
        padding: 0;
        height: 450px;
    }

    .task-inner img{
        width: 50px;
        height: 50px;
    }
    .task-inner > *, .task-list-header-right > *{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 100%;
        border: 1px solid rgb(61, 68, 80);
    }
    .task-list-header{
        background-color: #2a374b;

    }
    
    
}
/* small <= 768px */
@media screen and (max-width:768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .project-container {
        display: grid;
        grid-template-columns: 1fr; 
        overflow-y: auto; 
        max-height: 100vh; 
        overflow-x: hidden; 
    }
    .project-left, .project-right {
        overflow-y: visible; 
        max-height: none; 
    }


}

/* extra small <= 576px */
@media screen and (max-width:576px) {
    .header-left {
        display: none;
    }
   
}
